*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:cursive;
    background: linear-gradient(to bottom, #f1b1d785 0%, #8f8fec86 100%);
    background-repeat: no-repeat;
    text-align: center;

}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto; 
    width:60%;
    padding-top: 15px;
}
header img{
    width:100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 150px;
}
header h1{
    color:   #3a3a9286 ;
    margin: auto;
    margin-left: 15px;
    
}
.form-sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
}


.form-sec form{
    height: 50px;
    width: 60%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
    border: none;
    outline: none;
    margin: auto;
}
.form-sec form #userInput{
    height: 100%;
    width: 75%;
    border-radius: 30px 0 0 30px;
    padding-left: 20px;
    outline: none;
    border: none;
}
.form-sec form .searchBtn{
    width: 24.5%;
    height: 100%;
    border-radius: 0 30px 30px 0;
    outline: none;
    border: none;
}
.catBox{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.facts{
    width: 35%;
    padding: 15px 5px 10px 20px;
    background-color: rgb(243, 188, 243);
    margin :5px;
    border-radius: 10px;
}
.facts h2{
    color: purple;
}
.facts h3{
    font-size: 18px;
    color: rebeccapurple;
}

.cats-list{
    list-style-type:none;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    font-size: 16px;
    color: rgb(68, 9, 128);
}
.cats-list li{
    text-align: right;
}
.catResult{
    width: inherit;
    padding-top: 20px;
}
.catResult img{
    width:40%;
    height: 180px;
    border-radius: 7px;
}

